@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: F0F0F6;
  @apply font-serif
  
}

.debug {
  border: 1px solid red;
}

.flex-obligated{
  display: flex;
}

.titles{
  @apply font-semibold text-[#2B2B2B]
}